

        <main>

            <div style="text-align: center;">
                
                <div>
                    <img src="images/logo.png" alt="Example Image" width="650" id="exampleImage"> <!--Id is being used so I can adjust height to "auto"-->

                    <script>
                            // Get the image element
                            var img = document.getElementById('exampleImage');
                            
                            // When the image is fully loaded, set the height to auto
                            img.onload = function() {
                                img.setAttribute('height', 'auto');
                            };
                    </script>
                
                </div>
                
                <h3 style="text-align: center">Here are few ways to contact us:</h3>
                    <p>Name: Alvi Shariar Matin</p>
                    <p>ID: 40250537</p>
                    <p>E-mail: Alvimatin@gmail.com</p>
                    
            </div>

        </main>
   