

        <main>

            <div>

                <div style="text-align: center; padding-right: 70px; padding-top: 20px;">
                    <img src="images/SideEyeDog.gif" alt="Side Eye Dog">
                </div>

                <p style="text-align: center;">As a dog owner, you may adore your pooch as if it were your own flesh and blood. And just like your children, you want to ensure you provide the best care possible so your dog can live a happy and healthy life.

                    If you’re striving to be an excellent pet parent, here are some dog care tips to help you along the way.

                <h2>Meet Your Dog’s Basic Needs</h2>
                <p>As a dog owner, it’s essential to understand and meet your pet’s basic needs. Whether you’re a novice pet parent or an expert, you’ll need to set the stage for your new pup. Your dog’s basic needs will consist of nutritious food, water, treats, toys, and bedding to make the pup feel right at home.</p>
                <p>When you bring a new dog into your home, it’s best to make a trip to the vet as soon as possible. Your vet can help you pinpoint the right type and the amount of food and other important things you need to know about caring for your new friend.</p>
                <br>

                <h3>Monitor food consumption</h3>
                <p>Pet obesity is on the rise, with an estimated 50% to 60% of pets in Canada being diagnosed as overweight or obese. According to the Canadian Veterinary Medical Association, weight control and management is the number one thing a pet owner can do to increase the length and quality of their pet’s life.</p>
                <p>Unfortunately, overweight canines are susceptible to many health risks such as metabolic abnormalities, cardiovascular disease or poor immune systems. While you may want to spoil your pet, avoid spoiling them with food.</p>
                <br>

                <h3>Provide sufficient water throughout the day</h3>
                <p>All dogs need to have clean and fresh water available at all times of the day. Make sure to replenish the water and wash all food and water dishes so they don’t hold bacteria.</p>
                <br>

                <h3>Regularly groom your dog</h3>
                <p>Regularly grooming your pet ensures they are clean and pest-free. While some dogs only need a bath every few months, others need regular grooming. If your dog sheds, you’ll want to brush them often.</p>
                <p>Nail trimming is also a must. Neglecting to trim your dog’s nails can cause health problems such as injured tendons and deformed feet.</p>
                <br>

                <h2>Maintain Your Dog’s Health with Routine Care</h2>
                <p>Proactively tending to your pet’s well-being and health care ensures it lives the very best and healthiest life possible.</p>
                <br>

                <p>If you have pet insurance, you can usually offset the cost of routine care by adding a wellness package to your plan. For example, Spot pet insurance offers an Advanced Wellness Plan add-on that includes $80 of coverage for an annual wellness exam and $80 of coverage for vaccinations, including Bordetella, rabies, Lyme disease, and DHLPP.</p>
                <br>

                <h3>Schedule annual check-ups with your vet</h3>
                <p>One of the best ways to keep your pet healthy is to visit the vet regularly so they can examine your dog for any health concerns.</p>
                <br>

                <h3>Look for solutions for flea, tick and heartworm prevention</h3>
                <p>Fleas and ticks put you and your pet’s health at risk since they can transmit diseases like Lyme disease, plague, and Rocky Mountain Spotted Fever. Heartworm disease, spread by infected mosquitoes, can cause damage to your dog’s arteries, heart, and lungs.</p>
                <p>Talk to your veterinarian about preventative measures, such as topical and oral medications. For heartworm disease prevention, dogs typically need monthly treatment from June 1 to November 1.</p>
                <br>

                <h3>Maintain proper vaccinations</h3>
                <p>Vaccinations help protect your dog’s body from invasive diseases. Standard canine vaccines usually include parvovirus, distemper, rabies, and canine hepatitis.</p>
                <p>If you groom or board your pooch, you may also need a vaccine against Bordetella bronchiseptica, which can cause kennel cough. Your vet can help pinpoint the vaccines appropriate for your hound.</p>
                <br>

                <h3>Consider spaying or neutering your pet</h3>
                <p>Spaying and neutering pets isn’t just about population control—it can help protect your canine companion from certain diseases.</p>
                <p>For example, spaying your female dog can decrease her chances of uterus infections and breast tumors. Neutering male dogs can protect them from testicular cancer and prostate concerns.</p>
                <br>

                <h3>Brush your dog’s teeth</h3>
                <p>While often overlooked, dental care is also essential for maintaining your pet’s health. Regularly brushing your pup’s teeth can help prevent dental illnesses that can end up affecting your dog’s kidney and liver function.</p>
                <p>Dental cleaning might also be recommended, but it can cost a few hundred dollars to $1,000, depending on your location. Some pet insurance companies, such as Desjardins, have dental illness coverage that includes dental cleanings.</p>
                <br>

                <h2>Stimulate Your Dog’s Brain and Body</h2>
                <p>A balance of physical and mental stimulation plays a significant role in your dog’s health. It can also encourage good behaviour while discouraging harmful behaviours that can wreak havoc on your patience and home.</p>
                <br>

                <p>As the saying goes: A tired dog is a good dog.</p>
                <br>

                <h3>Exercise your dog every day</h3>
                <p>Regular exercise promotes bone, joint, muscle, and organ health. Walking can also eliminate boredom and provide mental stimulation. You can also create an exercise routine with your pet, such as climbing stairs, going for a hike, or running around the backyard.</p>
                <p>While different sizes and breeds of dogs require varying levels of exercise, creating an exercise routine with your four-legged friend is essential.</p>
                <br>

                <h3>Challenge your dog’s brain</h3>
                <p>Man’s best friend benefits from mental stimulation. Teach your dog new tricks, play new games, and create puzzles. Since dogs have a heightened sense of smell, they love using their nose to explore. Try scattering a few treats around the home for your dog to find.</p>
                <br>

                <h3>Create a slow-pace mealtime</h3>
                <p>Some dogs love gobbling up their food in one gulp. But eating too quickly may create digestive issues or result in vomiting.</p>
                <p>Slow down your dog’s eating habits. Consider a puzzle feeder at mealtime or place a tennis ball in their food bowl so they have to eat around it.</p>
                <br>

                <h2>Keep Your Pet Safe</h2>
                <p>Dangers are lurking inside and outside of your home that could cause harm to your pooch. Here are some tips for keeping your dog safe and out of trouble.</p>
                <br>

                <h3>Register your pup</h3>
                <p>City and local pet laws often require dog owners to register their pets. Check your local municipality so you can ensure your dog is properly licensed. You’ll want to attach the licence to its collar to prove your dog is registered if it gets lost.</p>
                <br>
                
            </div>

        </main>

