

        <main>

            <div style="text-align: center;">
                <p style="font-size: large;">At [Center Name], we are dedicated to finding loving homes for pets in need. Our website connects prospective adopters with adorable animals waiting for their forever families.

                    Explore our site to learn more about our adoption process, view available pets, and find valuable resources for pet care. Whether you're looking for a playful puppy, a cuddly kitten, or a loyal companion, we're here to help you find your perfect match.
                    
                    Join us in our mission to provide shelter, care, and love to animals in need. Together, we can make a difference in the lives of pets and the people who love them.
                    
                    Thank you for visiting [Center Name]!</p>
                    
                    <br>

                    <h3>With a few clicks, this can be your dog today !!!</h3>
            </div>

            <div style="margin: 0; padding: 0; overflow: hidden; display: flex; justify-content: center; height: 100vh;">
                <div style="text-align: center;">
                    <img src="images/DogHome.png" alt="Ugliest Dog" style="width: 80%; height: auto; max-width: 800px;">
                    <br>
                    <span style="padding-right: 154px; font-style: italic; color: rgb(62, 60, 60);" >Charlie - a 2 year old 2024 Beauty Challenge Runner Up ®</span>
                </div>
            </div>

        </main>
    
