

        <main>


            <h1>This Page is not Functional Anymore - It is currently archived. Nothing here is used or functional. Enjoy these vintage iconic that we don't have up for adoption anymore :( </h1>

                <!--Pet 1-->

                <div class="PetsInfo">
                    <!-- Pet image -->
                    <img id="PetImg" src="images/DogHome.png" alt="Pet #1" class="pet-image" width="600" height="600">
                
                    <!-- Pet information -->
                    <div style="text-align: left; margin-left: 20px;">
                        <h2 id="PetName">Sweets</h2>
                        <p id="PetType"><strong>Type: </strong>Cat</p>
                        <p id="PetBreed"><strong>Breed: </strong>Golden Retriever</p>
                        <p id="PetAge"><strong>Age: </strong>Male</p>
                        <p id="PetGender"><strong>Gender: </strong>Male</p>
                        <p id="PetWDogs"><strong>Good with dogs: </strong>Yes</p>
                        <p id="PetWCats"><strong>Good with cats: </strong>Yes</p>
                        <p id="PetFF"><strong>Good with kids: </strong>Yes</p>
                        <p style="margin-bottom: 5px;"><strong>Previous Owner Comments: </strong> </p>

                        <div style="border: 1px solid #ccc; padding-top: 2px; padding-bottom: 2px; padding-left: 5px; padding-right: 5px; background-color: #f9f9f9; max-width: 300px; word-wrap: break-word;">
                            <p id="PetOwnerComments"><em>I hate this dog of all my will, imagine waking up seeing this licking your face. I lost my wife and kids thanks to this creature.</em></p>
                         </div>                         

                        <p id="PetOwnerName"><strong>Owner:</strong> John Krasinski</p>
                        <p id="PetOwnerEmail"><strong>Email:</strong> JohnKrasinski@gmail.com</p>
                        
                        <button class="interested-btn">Interested</button>


                    </div>
                    
                </div>



                <!--Pet 2-->

                <div class="PetsInfo">
                    <!-- Pet 2 Image -->
                    <img id="PetImg2" src="images/Pet2.png" alt="Snoop-Doggo" class="pet-image" width="600" height="600">

                    <!-- Pet 2 information -->
                    <div style="text-align: left; margin-left: 20px;">
                        <h2 id="PetName2">Snoop-Doggo</h2>
                        <p id="PetType2"><strong>Type: </strong>Dog</p>
                        <p id="PetBreed2"><strong>Breed: </strong>German Shepherd</p>
                        <p id="PetAge2"><strong>Age: </strong>3 years</p>
                        <p id="PetGender2"><strong>Gender: </strong>Female</p>
                        <p id="PetWDogs2"><strong>Good with dogs: </strong>Yes</p>
                        <p id="PetWCats2"><strong>Good with cats: </strong>Yes</p>
                        <p id="PetFF2"><strong>Good with kids: </strong>Yes</p>
                        <p style="margin-bottom: 5px;"><strong>Previous Owner Comments:</strong></p>
                        <div style="border: 1px solid #ccc; padding: 2px 5px; background-color: #f9f9f9; max-width: 300px; word-wrap: break-word;">
                            <p id="PetOwnerComments2"><em>Doggo is the best companion ever. She brings so much joy and happiness.</em></p>
                        </div>
                        <p id="PetOwnerName2"><strong>Owner:</strong> Snoop Dog</p>
                        <p id="PetOwnerEmail2"><strong>Email:</strong> Snoop@gmail.com</p>

                        <button class="interested-btn">Interested</button>
                    </div>

                </div>



                <!-- Pet 3 -->
                <div class="PetsInfo">
                    <!-- Pet 3 Image -->
                    <img id="PetImg3" src="images/Pet3.png" alt="Rahath" class="pet-image" width="600" height="600">

                    <!-- Pet 3 information -->
                    <div style="text-align: left; margin-left: 20px;">
                        <h2 id="PetName3">Rahath</h2>
                        <p id="PetType3"><strong>Type: </strong>Dog</p>
                        <p id="PetBreed3"><strong>Breed: </strong>Beagle</p>
                        <p id="PetAge3"><strong>Age: </strong>2 years</p>
                        <p id="PetGender3"><strong>Gender: </strong>Female</p>
                        <p id="PetWDogs3"><strong>Good with dogs: </strong>No</p>
                        <p id="PetWCats3"><strong>Good with cats: </strong>No</p>
                        <p id="PetFF3"><strong>Good with kids: </strong> No</p>
                        <p style="margin-bottom: 5px;"><strong>Previous Owner Comments:</strong></p>
                        <div style="border: 1px solid #ccc; padding: 2px 5px; background-color: #f9f9f9; max-width: 300px; word-wrap: break-word;">
                            <p id="PetOwnerComments3"><em>Rahath is a dog, chasing his tail although he'll never reach it. He enjoys licking other people.</em></p>
                        </div>
                        <p id="PetOwnerName3"><strong>Owner:</strong> Alvi Matin</p>
                        <p id="PetOwnerEmail3"><strong>Email:</strong> KP@gmail.com</p>

                        <button class="interested-btn">Interested</button>
                    </div>
                </div>


                <!-- Pet 4 -->
                <div class="PetsInfo">
                    <!-- Pet 4 Image -->
                    <img id="PetImg" src="images/Pet4.png" alt="BoogeyMan" class="pet-image" width="600" height="600">

                    <!-- Pet 4 information -->
                    <div style="text-align: left; margin-left: 20px;">
                        <h2 id="PetName4">BoogeyMan</h2>
                        <p id="PetType4"><strong>Type: </strong>Dog</p>
                        <p id="PetBreed4"><strong>Breed: </strong>Beagle</p>
                        <p id="PetAge4"><strong>Age: </strong>5 years</p>
                        <p id="PetGender4"><strong>Gender: </strong>Male</p>
                        <p id="PetWDogs4"><strong>Good with dogs: </strong>Yes</p>
                        <p id="PetWCats4"><strong>Good with cats: </strong>Yes</p>
                        <p id="PetFF4"><strong>Good with kids: </strong>Yes</p>
                        <p style="margin-bottom: 5px;"><strong>Previous Owner Comments: </strong></p>
                        <div style="border: 1px solid #ccc; padding: 2px 5px; background-color: #f9f9f9; max-width: 300px; word-wrap: break-word;">
                            <p id="PetOwnerComments4"><em>BoogeyMan may look scary, but he's actually a very friendly dog.</em></p>
                        </div>
                        <p id="PetOwnerName4"><strong>Owner:</strong> Jack Smith</p>
                        <p id="PetOwnerEmail4"><strong>Email:</strong> jack@gmail.com</p>

                        <button class="interested-btn">Interested</button>
                    </div>
                </div>
                

                <!--Pet 5-->
                <div class="PetsInfo">
                    <!-- Pet 5 Image -->
                    <img id="PetImg5" src="images/Pet5.png" alt="Meowser" class="pet-image" width="600" height="600">

                    <!-- Pet 2 information -->
                    <div style="text-align: left; margin-left: 20px;">
                        <h2 id="PetName5">Meowser</h2>
                        <p id="PetType5"><strong>Type: </strong>Cat</p>
                        <p id="PetBreed5"><strong>Breed: </strong>Siamese</p>
                        <p id="PetAge5"><strong>Age: </strong>3 years</p>
                        <p id="PetGender5"><strong>Gender: </strong>Female</p>
                        <p id="PetWDogs5"><strong>Good with dogs: </strong>Yes</p>
                        <p id="PetWCats5"><strong>Good with cats: </strong>Yes</p>
                        <p id="PetFF5"><strong>Good with kids: </strong>Yes</p>
                        <p style="margin-bottom: 5px;"><strong>Previous Owner Comments:</strong></p>
                        <div style="border: 1px solid #ccc; padding: 2px 5px; background-color: #f9f9f9; max-width: 300px; word-wrap: break-word;">
                            <p id="PetOwnerComments5"><em>MEOWWWWWWWWWWWWWWWWW</em></p>
                        </div>
                        <p id="PetOwnerName5"><strong>Owner:</strong>CatLover332</p>
                        <p id="PetOwnerEmail5"><strong>Email:</strong> CatLover@gmail.com</p>

                        <button class="interested-btn">Interested</button>
                    </div>

                </div>





        </main>

